<!DOCTYPE html>
<html>
  <head>
    <title>My First View!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/d3js/3.5.17/d3.min.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/npm/taucharts@1/build/production/tauCharts.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/taucharts@1/build/production/tauCharts.min.css">
    <style>
    .c {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    }
    .chart{
      height: 360px;
    }
    </style>
    <script>
      var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
      var shortDays = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
      var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
      var shortMonths = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];

      function zeropad(n) {
          return n > 9 ? String(n) : "0" + String(n);
      }

      function twelveHour(t) {
          var hour = t.getHours() % 12;
          return hour === 0 ? 12 : hour;
      }

      var strftimeCallbacks = {
          // Short day name (Sun-Sat)
          a: function (t) { return shortDays[t.getDay()]; },
          // Long day name (Sunday-Saturday)
          A: function (t) { return days[t.getDay()]; },
          // Short month name (Jan-Dec)
          b: function (t) { return shortMonths[t.getMonth()]; },
          // Long month name (January-December)
          B: function (t) { return months[t.getMonth()]; },
          // String representation (Thu Dec 23 2010 11:48:54 GMT-0800 (PST))
          c: function (t) { return t.toString(); },
          // Two-digit day of the month (01-31)
          d: function (t) { return zeropad(t.getDate()); },
          // Day of the month (1-31)
          D: function (t) { return String(t.getDate()); },
          // Two digit hour in 24-hour format (00-23)
          H: function (t) { return zeropad(t.getHours()); },
          // Hour in 24-hour format (0-23)
          i: function (t) { return String(t.getHours()); },
          // Two digit hour in 12-hour format (01-12)
          I: function (t) { return zeropad(twelveHour(t)); },
          // Hour in 12-hour format (1-12)
          l: function (t) { return String(twelveHour(t)); },
          // Two digit month (01-12)
          m: function (t) { return zeropad(t.getMonth() + 1); },
          // Two digit minutes (00-59)
          M: function (t) { return zeropad(t.getMinutes()); },
          // am or pm
          p: function (t) { return t.getHours() < 12 ? "am" : "pm"; },
          // AM or PM
          P: function (t) { return t.getHours() < 12 ? "AM" : "PM"; },
          // Two digit seconds (00-61)
          S: function (t) { return zeropad(t.getSeconds()); },
          // Zero-based day of the week (0-6)
          w: function (t) { return String(t.getDay()); },
          // Locale-specific date representation
          x: function (t) { return t.toLocaleDateString(); },
          // Locale-specific time representation
          X: function (t) { return t.toLocaleTimeString(); },
          // Year without century (00-99)
          y: function (t) { return zeropad(t.getFullYear() % 100); },
          // Year with century
          Y: function (t) { return String(t.getFullYear()); },
          // Timezone offset (+0000)
          Z: function (t) {
                   if (t.getTimezoneOffset() > 0) {
                       return "-" + zeropad(t.getTimezoneOffset() / 60) + "00";
                   } else {
                       return "+" + zeropad(Math.abs(t.getTimezoneOffset()) / 60) + "00";
                   }
               },
          // A percent sign
          "%": function (t) { return "%"; }
      };

      /**
       * Returns a string of the +date+ in the given +format+.
       */
      function strftime(date, format) {
          var regexp;
          for (var symbol in strftimeCallbacks) {
              regexp = new RegExp("%" + symbol, "g");
              format = format.replace(regexp, strftimeCallbacks[symbol](date));
          }

          return format;
      }
      function average(els){
        if (els.length == 0){
          return 0
        } else {
          var sum = els.reduce(function(a, b) { return a + b; });
          var avg = sum / els.length;
          return avg
        }
      }
      function adminDeletedStats(objects){
        deleted_ats = []
        obj_karmas = []
        for (var i in objects){
          if (objects[parseInt(i)]["admin_deleted_at"] != null){
            deleted_ats.push(objects[parseInt(i)]["admin_deleted_at"])
            obj_karmas.push(objects[parseInt(i)]["net_karma"])
          }
        }
        return {"pct": deleted_ats.length/objects.length, "avg_time": Math.round((average(deleted_ats)/60/60)*100)/100, "avg_score": average(obj_karmas)}
      }
      function userDeletedStats(objects){
        deleted_ats = []
        obj_karmas = []
        for (var i in objects){
          if (objects[parseInt(i)]["user_deleted_at"] != null){
            deleted_ats.push(objects[parseInt(i)]["user_deleted_at"])
            obj_karmas.push(objects[parseInt(i)]["net_karma"])
          }
        }
        return {"pct": deleted_ats.length/objects.length, "avg_time": Math.round((average(deleted_ats)/60/60)*100)/100, "avg_score": average(obj_karmas)}
      }
      function getAvgUprates(objects){
        scores = []
        for (var i in objects){
          scores.push(objects[parseInt(i)]["up_rate"])
        }
        return average(scores)
      }
      function getAvgKarma(objects, reference_objects){
        scores = []
        for (var i in objects){
          scores.push(objects[parseInt(i)]["net_karma"])
        }
        return average(scores)
      }
      function newChart(chartData, target){
        new tauCharts.Chart({
          data: chartData,
          type: 'scatterplot',
          x: 'date',
          y: 'value',
          color: 'relative_value',
          guide: {
            showAnchors: 'always',
            interpolate: "smooth-keep-extremum",
            color: {
              brewer: { higher: '#28a745', lower: '#dc3545', similar: '#17a2b8' }
            }
          },
          plugins: [
            tauCharts.api.plugins.get('tooltip')()
          ]
        }).renderTo('#'+target);
      }
      function getReferenceObjects(parsed, content_type){
        full_objects = []
        for (var key in parsed["content"][content_type]["map"]["hour_days_past_month"]) {
          objects = getObjects(parsed, content_type, "hour_days_past_month", key)
          full_objects.push(objects)
        }
        return [].concat.apply([], full_objects)
      }
      function genSubscriberCharts(parsed){
        $.each(parsed["data"], function (index, value){
          var date = new Date(value[0]*1000);
          date_str = strftime(date, "%Y-%m-%d %H:%M")
          observed = value[1]["observation"]["content"]["stats"]["subreddit_counts"]
        //  {date: date_str, val: observed["subscribers"]}
        })
      }
      function dataPointWithReference(observed, reference, data_key, date){
        scores = []
        $.each(reference, function (ii,vv){
          if (vv != null && vv[data_key] != 0){
            scores.push(vv[data_key])
          }
        })
        var relative_value = "similar";
        if (average(scores) > observed[data_key]){
          relative_value = "lower"          
        } else if (average(scores) < observed[data_key]){
          relative_value = "higher"
        }
        return {date: date, value: observed[data_key], relative_value: relative_value}
      }
      function genContentCharts(parsed, content_type){
        count = []
        author_count = []
        admin_deleted_count = []
        admin_deleted_time = []
        admin_karma_deletion = []
        user_deleted_count = []
        user_deleted_time = []
        user_karma_deletion = []
        $.each(parsed["data"], function (index, value){
          var date = new Date(value[0]*1000);
          date_str = strftime(date, "%Y-%m-%d %H:%M")
          observed = value[1]["observation"]["content"]["stats"][content_type]
          reference = []
          $.each(value[1]["reference"]["prev_month"], function (i_index, i_value){
            reference.push(i_value["content"]["stats"][content_type])
          })
          count.push(dataPointWithReference(observed, reference, "count", date))
          author_count.push(dataPointWithReference(observed, reference, "author_count", date))
          admin_deleted_count.push(dataPointWithReference(observed, reference, "admin_deleted_count", date))
          admin_deleted_time.push(dataPointWithReference(observed, reference, "admin_deleted_time", date))
          admin_karma_deletion.push(dataPointWithReference(observed, reference, "admin_karma_deletion", date))
          user_deleted_count.push(dataPointWithReference(observed, reference, "user_deleted_count", date))
          user_deleted_time.push(dataPointWithReference(observed, reference, "user_deleted_time", date))
          user_karma_deletion.push(dataPointWithReference(observed, reference, "user_karma_deletion", date))
        })
        newChart(count, content_type+"_count")
        newChart(author_count, content_type+"_author_count")
        newChart(admin_deleted_count, content_type+"_admin_deleted_count")
        newChart(admin_deleted_time, content_type+"_admin_deleted_time")
        newChart(admin_karma_deletion, content_type+"_admin_karma_deletion")
        newChart(user_deleted_count, content_type+"_user_deleted_count")
        newChart(user_deleted_time, content_type+"_user_deleted_time")
        newChart(user_admin_karma_deletion, content_type+"_user_karma_deletion")
      }
      $.each(["comments", "submissions", "subscribers", "domains"], function (index, value){
        $.get("/api/latest/"+value+"/reduced.json", function(data, status){
          parsed = jQuery.parseJSON(data);
          if (parsed["type"] == "subscribers"){
            genSubscriberCharts(parsed)
          } else {
            genContentCharts(parsed, parsed["type"])
          }
          g = 1
        });
        
      })
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>The Donald Monitor</h1>
          <p>Monitoring the evolution of the Donald Subreddit</p>
        </div>
      </div>
      <div id="24_hours">
        <div class="col-md-12">
          <h3>Past 24 Hours</h3>
        </div>
        <ul class="nav nav-tabs" id="24hr-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="24hr-comments-tab" data-toggle="tab" href="#24hr-comments" role="tab" aria-controls="24hr-comments" aria-selected="true">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="24hr-submissions-tab" data-toggle="tab" href="#24hr-submissions" role="tab" aria-controls="24hr-submissions" aria-selected="false">Submissions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="24hr-subscriptions-tab" data-toggle="tab" href="#24hr-subscriptions" role="tab" aria-controls="24hr-subscriptions" aria-selected="false">Subscribers</a>
          </li>
        </ul>
        <div class="tab-content" id="24hr-tabContent">
          <div class="tab-pane fade show active" id="24hr-comments" role="tabpanel" aria-labelledby="24hr-comments-tab">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Count</h4>
                    <div id="comments_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Author Count</h4>
                    <div id="comments_author_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Number of Admin deletions</h4>
                    <div id="comments_admin_deleted_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Amount of time before Admin deletions</h4>
                    <div id="comments_admin_deleted_time" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Net Karma of Admin deletions</h4>
                    <div id="comments_admin_karma_deletion" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Number of User deletions</h4>
                    <div id="comments_user_deleted_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Amount of time before User deletions</h4>
                    <div id="comments_user_deleted_time" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Net Karma of User deletions</h4>
                    <div id="comments_user_karma_deletion" class="c chart">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="24hr-submissions" role="tabpanel" aria-labelledby="24hr-submissions-tab">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-12">
                    <h4>Count</h4>
                    <div id="submissions_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Author Count</h4>
                    <div id="submissions_author_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Number of Admin deletions</h4>
                    <div id="submissions_admin_deleted_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Amount of time before Admin deletions</h4>
                    <div id="submissions_admin_deleted_time" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Net Karma of Admin deletions</h4>
                    <div id="submissions_admin_karma_deletion" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Number of User deletions</h4>
                    <div id="submissions_user_deleted_count" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Amount of time before User deletions</h4>
                    <div id="submissions_user_deleted_time" class="c chart">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h4>Net Karma of User deletions</h4>
                    <div id="submissions_user_karma_deletion" class="c chart">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="24hr-subscriptions" role="tabpanel" aria-labelledby="24hr-subscriptions-tab">
            ...
          </div>
        </div>
      </div>
    </div>
  </body>
</html>